# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.eggs/
*.egg-info/

# Numpy / data
*.npz
*.npy
*.h5

# Logs
*.log

# Compiled Fortran
*.o
*.mod
*.exe

# Simulation outputs
*.dat
*.idx
*.out
*.off
*.ply
*.xyz
*.txt

# Temporary files
*.tmp
*.bak

#AUTO files
s.*
b.*
d.*
fort.*

# OS files
Thumbs.db
.DS_Store

# Generated data output
initial data generation/d0p*/
initial data generation/auto_data.h5
initial data generation/auto_rtree_index.*
initial data generation/uz_x_list.npz
initial data generation/worker_*/

